#main-content {
    display: none;
}

#login-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9999;
}

.login-container {
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#login-titulo {
    color: white;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 2px;
}

#login-descripcion {
    color: white;
    margin-bottom: 20px;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 1.5;
    padding: 0 20px;
    width: 200%;
}   

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#login-label,
#password {
    color: black;
    border-radius: 20px;
    padding: 10px;
    max-width: 400px;
    width: 100%;
}

#login-label {
    color: white;
}

#login-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: transparent;
    border: white 1px solid;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
}

#loginError {
    color: red;
    margin-top: 10px;
}
